.fadeInDown{
  animation-duration: 1s; /*la animación que va a tener, tiempo*/
  animation-fill-mode: both; /*atributo, define los keyframes de ida y de regreso*/
  animation-name: fadeInDown; /*le da un nombre a nuestra animación*/
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
}

@keyframes fadeInDown {
from {
  opacity: 0;
  -webkit-transform: translate3D(0, -100%, 0);
  transform: translate3D(0, -100%, 0);
}
  to{
    opacity: 1;
    -webkit-transform: translate3D(0, 0%, 0);
    transform: translate3D(0, 0%, 0);
  }

}

.fadeInUp{
  animation-duration: 1s; /*la animación que va a tener, tiempo*/
  animation-fill-mode: both; /*atributo, define los keyframes de ida y de regreso*/
  animation-name: fadeInUp; /*le da un nombre a nuestra animación*/
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #A0482D;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
